DJANGO_DEBUG=True
DJANGO_SECRET_KEY=change-me

MYSQL_DATABASE=openparticlelab
MYSQL_USER=openparticlelab
MYSQL_PASSWORD=change-me
MYSQL_HOST=localhost
MYSQL_PORT=3306

REDIS_URL=redis://localhost:6379/0
